<div>
    <div ng-include="'menus/clientmenu.html'"></div>
    <snap-dragger></snap-dragger>
    <snap-content snap-opt-tap-to-close="false" class="bg-dark">
        <a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
			</span>
        </a>

        <div class="fr">
            <h2>Client <small>Profile</small></h2>
        </div>
        <span class="glyphicon glyphicon-dashboard bg-fade"></span>
        <div class="jumbotron">
            <div class="container">
                <div class="client-profile-image">
                    <img src="../images/the-user.png" class="user-avatar img-circle img-responsive">
                </div>
                <div class="client-profile">

                    <div class="user-contact-name">
                        <span ng-bind="ClientModel.firstName"></span>&nbsp;<span ng-bind="ClientModel.lastName"></span>
                    </div>
                    <div class="user-contact-ssn">
                        <label>SSN:</label> <span ng-bind="ClientModel.ssn"></span>
                    </div>
                    <div class="user-contact-phone">
                        <label>Phone:</label> <span ng-bind="ClientModel.contact.phone"></span>
                    </div>
                    <div class="user-contact-address">
                        <label>Address:</label>
                        <div ng-bind="ClientModel.contact.address"></div>
                    </div>
                </div>

            </div>
        </div>
    </snap-content>
</div>
