<div id="container">

	<div class="row">

		<div class="col-xs-12" style="background-color: black; position: absolute; left: 0; top: 0">
			<div class="row">
				<div class="col-2-xs">
					&nbsp;
				</div>
			</div>

			<div class="row" style="margin-left:-25px;">
				<div class="col-2-xs"></div>
				<div class="fr" style="margin-top:-26px;">
					<h2><medium>Service</medium></h2>
				</div>
			</div>
			<div class="row" style="margin-right: 2px;">
				<div class="fr">
					<h1 style="margin-top:-25px;margin-left:90px">St. Louis</h1>
				</div>
			</div>

			<!--
			<div class="fr">
				<h1><small style="color:white;">Service</small> St. Louis</h1>
			</div>
			-->
		</div>


	</div>

</div>

	<div class="col-xs-12" style="background-color: black; position: absolute; left: 0; top: 0">
		<div class="row">
			<div class="col-2-xs">
				&nbsp;
			</div>
		</div>
	</div>
<div class="row">
	<div class="col-xs-12">&nbsp;</div>
</div>
<div class="row">
	<div class="col-xs-12">&nbsp;</div>
</div>




	<div class="jumbotron" style="margin-top:10%;">
		<div class="container-fluid front-page-buttons">
			<div class="row">
				<div class="col-md-5">
					<p>Need Help Now?</p>
					<p>
						Ph 800.555.1234 <br/>
						For immediate assistance
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5 col-md-offset-7"
			<h1>Are you a....</h1>
		</div>
	</div>
			<br /><br />
			<div class="col-md-6 col-md-offset-6">
				<div class="col-md-4"><a ui-sref="cmgrlogin" class="btn btn-primary btn-lg btn-white svcbox">Case Manager</a></div>
				<div class="col-md-4"><a ui-sref="svcprologin" class="btn btn-primary btn-lg btn-white svcbox">Service Provider</a></div>
				<div class="col-md-4"><a ui-sref="clientlogin" class="btn btn-primary btn-lg btn-white svcbox">Client</a></div>
			</div>
		</div>
	</div>


</div>
<!--
<div>
	<div ng-include="'menus/menu.html'"></div>
	<snap-dragger></snap-dragger>
	<snap-content snap-opt-tap-to-close="false">

		<div class="fr">
		<h2><small>Service</small> St. Louis</h2>
		</div>
		<div class="jumbotron">
			<div class="container">
				<h1>Hello.</h1>
				I don't want to bloat this Versatile Theme Free Edition AngularJS Admin theme with a lot of plugins. To install plugins we have bower. Let's keep it real clean!<br /><br />
					<div class="col-md-5">
						<p>
							Ph 800.555.1234 <br/>
							For immediate assistance
						</p>
					</div>
					<div class="col-md-7">

						<div class="col-md-4"><a ui-sref="cmgrlogin" class="btn btn-primary btn-lg btn-white svcbox">Case Manager</a></div>
						<div class="col-md-4"><a ui-sref="svcprologin" class="btn btn-primary btn-lg btn-white svcbox">Service Provider</a></div>
						<div class="col-md-4"><a ui-sref="clientlogin" class="btn btn-primary btn-lg btn-white svcbox">Client</a></div>
					</div>
			</div>
		</div>
	</snap-content>
</div>
-->
