<div>
	<div ng-include="'menu.html'"></div>
	<snap-dragger></snap-dragger>
	<snap-content snap-opt-tap-to-close="false">

		<!-- <a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
			</span>
		</a> -->

		<div class="fr">
		<h2><small>Service</small> St. Louis</h2>
		</div>
		<div class="jumbotron">
			<div class="container">
				<h1>Hello.</h1>
				I don't want to bloat this Versatile Theme Free Edition AngularJS Admin theme with a lot of plugins. To install plugins we have bower. Let's keep it real clean!<br /><br />
				<p>
					<div id="svcbox" class="btn btn-primary btn-lg btn-white"><a ui-sref="login">Case Manager</a></div>
					<div id="svcbox" class="btn btn-primary btn-lg btn-white"><a ui-sref="login">Service Provider</a></div>
					<div id="svcbox" class="btn btn-primary btn-lg btn-white"><a ui-sref="login">Client</a></div>
				</p>
			</div>
		</div>
	</snap-content>
</div>
