<div>
    <div ng-include="'menus/clientmenu.html'"></div>
    <snap-dragger></snap-dragger>
    <snap-content snap-opt-tap-to-close="false" class="bg-dark">
        <a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x"></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x"></i>
			</span>
        </a>

        <div class="fr">
            <h2>Case Manager
                <small>Intake</small>
            </h2>
        </div>
        <div class="jumbotron">
            <div class="container">
                <h2>Client Info</h2>
                <input ng-model="client.firstName" placeholder="First Name" class="form-control"></input><br/><br/>
                <input ng-model="client.lastName" placeholder="Last Name" class="form-control"></input><br/><br/>
                <input ng-model="client.ssn" placeholder="Social Security #" class="form-control"></input><br/><br/>
                <input ng-model="client.contactInfo.phone" placeholder="Phone #" class="form-control"></input><br/><br/>
                <input ng-model="client.contactInfo.address" placeholder="Address" class="form-control"></input><br/><br/>
                <br/>
                <div ng-show="areMoreQuestions()">
                    <h2>Domain 3 - Socialization and Daily Functions</h2>
                    <p>{{text}}</p>
                    <div class="container">
                        <div class="col-md-4"><a ng-click="clickAnswer('yes')"
                                                 class="btn btn-primary btn-lg btn-white svcbox">Yes</a></div>
                        <div class="col-md-4"><a ng-click="clickAnswer('no')"
                                                 class="btn btn-primary btn-lg btn-white svcbox">No</a>
                        </div>
                        <div class="col-md-4"><a ng-click="clickAnswer('na')"
                                                 class="btn btn-primary btn-lg btn-white svcbox">No Answer</a>
                        </div>
                    </div>
                </div>
                </br>
                <div ng-show="!areMoreQuestions()">
                    <p>Complete</p>
                </div>
                <div class="container" ng-show="!isStart()">
                    <div class="col-md-4"><a ng-click="clickBack()"
                                             class="btn btn-primary btn-lg btn-white svcbox">Back</a></div>
                </div>
                </br></br>
                <div class="container row">
                    <p>
                        <a class="btn btn-primary btn-lg btn-white" ng-click="clickSubmit()">Submit</a>
                    </p>
                </div>
            </div>
        </div>
    </snap-content>
</div>
