<div>
    <div ng-include="'menus/clientmenu.html'"></div>
    <snap-dragger></snap-dragger>
    <snap-content snap-opt-tap-to-close="false" class="bg-dark">
        <a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
			</span>
        </a>

        <div class="fr">
            <h2>Case Manager <small>Resources</small></h2>
        </div>
        <div class="jumbotron">
            <div class="container">
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" style="color:#000;text-decoration:none;">Food Services</a>
                      </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                      <div class="panel-body" style="color:#000;">
                        <div class="col-md-6" ng-repeat="f in foodServices">
                          <h3>{{f.title}}</h3>
                          <span>{{f.address}}</span> <br />
                          Phone: <span>{{f.phone}}</span> <br />
                          Web Address: <a href="" style="color:#1844c1;text-decoration:none;"><span>{{f.webAddress}}</span></a> <br />
                          Email: <a href="" style="color:#1844c1;text-decoration:none;"><span>{{f.email}}</span></a> <br />
                          <div class="resdescription"><span>{{f.description}}</span></div> <br />
                          Resources Available: <span>{{f.resources}}</span> <br />
                          Last Updated: <span>{{f.lastUpdated}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" style="color:#000;text-decoration:none;">Housing Assistance</a>
                      </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                      <div class="panel-body" style="color:#000;">
                        <div class="col-md-6" ng-repeat="h in housing">
                          <h3>{{h.title}}</h3>
                          <span>{{h.address}}</span> <br />
                          Phone: <span>{{h.phone}}</span> <br />
                          Web Address: <a href="" style="color:#1844c1;text-decoration:none;"><span>{{h.webAddress}}</span></a> <br />
                          Email: <a href="" style="color:#1844c1;text-decoration:none;"><span>{{h.email}}</span></a> <br />
                          <div class="resdescription"><span>{{h.description}}</span></div> <br />
                          Resources Available: <span>{{h.resources}}</span> <br />
                          Last Updated: <span>{{h.lastUpdated}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" style="color:#000;text-decoration:none;">Shelters</a>
                      </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                      <div class="panel-body" style="color:#000;">
                        <div class="col-md-6" ng-repeat="s in shelters">
                          <h3>{{s.title}}</h3>
                          <span>{{s.address}}</span> <br />
                          Phone: <span>{{s.phone}}</span> <br />
                          Web Address: <a href="" style="color:#1844c1;text-decoration:none;"><span>{{s.webAddress}}</span></a> <br />
                          Email: <a href="" style="color:#1844c1;text-decoration:none;"><span>{{s.email}}</span></a> <br />
                          <div class="resdescription"><span>{{s.description}}</span></div> <br />
                          Resources Available: <span>{{s.resources}}</span> <br />
                          Last Updated: <span>{{s.lastUpdated}}</span>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </snap-content>
</div>

<script>
var $myGroup = $('#container');
$myGroup.on('show.bs.collapse','.collapse', function() {
  $myGroup.find('.collapse.in').collapse('hide');
});
</script>
