.svcbox {
  min-width: 100%;
}

.front-page-help {
  position: relative;
  bottom: 125px;
}

.front-page-buttons {
  position:relative;
  bottom: 240px;
}

.login-page {
  background: #4d8b9e;
}

.login-page .user-avatar {
    height: 222px;
}

.login-page:before {
    border-right: solid 120px #4d8b9e;
}

.login-page .form-content .login {
    background: #d34747;
    border-color: #d34747;
}

.login-page .form-content .login:hover {
    background: #a23c3c;
    border-color: #a23c3c;
}

.login-page .form-content .form-control {
    background: transparent;
    border-color: transparent;
    border-bottom: 1px solid #000;
}

.resdescription {
    background-color: #f5f5f5;
    padding:5px;
    margin-top:5px;
}

.form-control {
  height: 40px;
  font-size: 1.3em;
}

snap-drawer ul.snap-ul li.active, snap-drawer ul.snap-ul li:hover {
    background: #645a28;
}

textarea.form-control {
    min-height: 110px;
}


.dashboard-page .main .jumbotron {
    margin-bottom: 0;
    padding-bottom: 0;
}

.snap-drawer {
    background: #474747;
    width: 266px;
}

.client-profile {
}

.client-profile-image > img{
  width: 250px;
  float: left;
  margin-top: 40px;
}
.client-profile > .user-contact-name{
   margin: 0 auto;
   font-size: 100px;
   width: 500px;
 }

.client-profile > .user-contact-ssn{
  margin: 0 auto;
  font-size: 25px;
  width: 500px;
}

.client-profile > .user-contact-phone{
  margin: 0 auto;
  font-size: 25px;
  width: 500px;
}

.client-profile > .user-contact-address{
  margin: 0 auto;
  font-size: 25px;
  width: 500px;
}
