.svcbox {
  min-width: 100%;
}

.front-page-help {
  position: relative;
  bottom: 100px;
}

.front-page-buttons {
  position:relative;
  bottom: 200px;
}

.login-page {
  background: #1a97bc;
}

.login-page .user-avatar {
    height: 222px;
}

.login-page:before {
    border-right: solid 120px #1a97bc;
}

.login-page .form-content .login {
    background: #ff4444;
    border-color: #ff4444;
}

.login-page .form-content .form-control {
    background: transparent;
    border-color: transparent;
    border-bottom: 1px solid #000;
}

.snap-drawer {
    background: #555;
}

.client-profile {
}

.client-profile > img{
  width: 250px;
  margin: 0 auto;
}
.client-profile > .user-contact-name{
   margin: 0 auto;
   font-size: 100px;
   width: 500px;
 }

.client-profile > .user-contact-ssn{
  margin: 0 auto;
  font-size: 50px;
  width: 500px;
}

.client-profile > .user-contact-phone{
  margin: 0 auto;
  font-size: 50px;
  width: 500px;
}

.client-profile > .user-contact-address{
  margin: 0 auto;
  font-size: 50px;
  width: 500px;
}

