<div>
    <div class="container">
        {{text}}
    </div>
    <div class="container">
        <div class="col-md-4"><a ng-click="clickAnswer('yes')" class="btn btn-primary btn-lg btn-white svcbox">Yes</a></div>
        <div class="col-md-4"><a ng-click="clickAnswer('no')" class="btn btn-primary btn-lg btn-white svcbox">No</a>
        </div>
        <div class="col-md-4"><a ng-click="clickAnswer('na')" class="btn btn-primary btn-lg btn-white svcbox">No Answer</a>
        </div>
    </div>
    <div class="container">
        <div class="col-md-4"><a ng-click="clickBack()" class="btn btn-primary btn-lg btn-white svcbox">Back</a></div>
    </div>
</div>