<div>
    <div ng-include="'menus/serviceprovidermenu.html'"></div>
    <snap-dragger></snap-dragger>
    <snap-content snap-opt-tap-to-close="false" class="bg-dark">
        <a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
			</span>
        </a>

        <div class="fr">
            <h2>Service Provider <small style="color:white;">Dashboard</small></h2>
        </div>
        <div class="jumbotron">
          <div class="container">

            <div class="row" ng-repeat="s in svcprovider">
              <div class="col-md-12">
                <fieldset style="background-color:#fff;color:#606060;padding:15px;">
                  <h2 style="margin-top:5px;">{{s.Name}}</h2>
                  <p>{{s.Address}}</p>
                  Phone: <span>{{s.Phone}}</span> <br />
                  Web Address: <span>{{s["Web Address"]}}</span> <br />
                  Email: <span>{{s["Email Address"]}}</span> <br /><br />
                  <span>{{s.Description}} <br /><br />
                  <span style="font-weight:bold;">Resources Available: <span style="font-size: 20px;color: #34795f;">{{s["Resources Available"]}}</span></span>
                </fieldset>
              </div>
            </div>
            <p style="margin-top:20px;float:right;">
                <a class="btn btn-primary btn-lg btn-white" href="#/svcpro/listings">Edit</a>
            </p>
              <!-- <div class="row" style="height:200px;">
                <div class="col-mg-8" style="text-align:center;font-family:Helvetica Neue;font-size:larger;display:block;">
                    <canvas id="line" class="chart chart-line" chart-data="accuityData" chart-labels="accuityLabels" chart-series="accuitySeries" chart-options="accuityOptions"></canvas>
                </div>
                <div class="col-mg-4" style="text-align:center;font-family:Helvetica Neue;font-size:larger;">
                    <strong>Percentage of Services Required </strong><br/>
                    <canvas id="pie" class="chart chart-pie" chart-data="servicesData" chart-labels="servicesLabels" chart-options="servicesSeries" height="100px" chart-options="servicesOptions"></canvas>
                </div>
              </div> -->
          </div>
        </div>
    </snap-content>
</div>
