<div>
    <div ng-include="'menus/clientmenu.html'"></div>
    <snap-dragger></snap-dragger>
    <snap-content snap-opt-tap-to-close="false" class="bg-dark">
        <a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
			</span>
        </a>

        <div class="fr">
            <h2>Service Provider <small>Edit</small></h2>
        </div>
        <div class="jumbotron">
            <div class="container">
              <div class="col-md-12">
                <form ng-submit="editResource()">
                  <fieldset style="background-color:#fff;color:#606060;padding:15px;" ng-repeat="s in svcprovider">
                    Company Name: <input class="form-control" style="margin-top:5px;" ng-model="s.Name">
                    Address: <input class="form-control" ng-model="s.Address">
                    Phone: <input class="form-control" ng-model="s.Phone">
                    Web Address: <input class="form-control" ng-model="s['Web Address']">
                    Email: <input class="form-control" ng-model="s['Email Address']"><br />
                    Description: <textarea class="form-control" ng-model="s.Description"></textarea><br />
                    Resources Available: <input class="form-control" style="max-width:70px;display:inline-block;" type="number" name="quantity" ng-model="s['Resources Available']">
                  </fieldset>
                  <p style="margin-top:20px;float:right;">
                      <button type="submit" class="btn btn-primary btn-lg btn-white" href="#/svcpro/listings">Update</button>
                      <a ui-sref="svcprolanding" class="btn btn-primary btn-lg btn-white" >Cancel</a>
                  </p>
                </form>
              </div>
            </div>
            </div>
        </div>
    </snap-content>
</div>
